---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Vlastimil Skupien - web dev">
	<main class="grid h-full place-items-center">
		<p class="mb-7 pl-10 leading-loose">
			Let's connect and explore exciting opportunities to collaborate and
			innovate in the dynamic world of web development!
		</p>
	</main>
</Layout>
