---
import Layout from '../layouts/Layout.astro'
import TypewriterHeroSection from '../components/TypewriterHeroSection.astro'
import LineCounter from '../components/LineCounter.astro'
---

<Layout title="Vlastimil Skupien - web dev">
	<main class="flex h-full items-center gap-52">
		<section class="relative flex h-full items-center gap-8">
			<LineCounter lines={20} startRow={0} />
			<div class="indentation-lines relative flex h-[70%] items-center gap-8">
				<div class="h-full w-[1px] bg-gray-500"></div>
				<div class="h-[70%] w-[1px] bg-gray-500"></div>
				<div class="h-[50%] w-[1px] bg-gray-500"></div>
			</div>
			<div class="*:p-1">
				<div class="text-yellow-300">{`<Hello />`},</div>
				<div>
					<span class="text-blue-500">andWelcome()</span>
					<span class="text-yellow-300"> &#123;</span>
				</div>
				<div class="indent-4">
					my name is <span class="text-green-300">Vlastik</span> 👋
				</div>
				<div class="indent-4">
					I am mainly <span class="text-purple-500">web developer</span> and
				</div>
				<div class="indent-4">partly UX designer with</div>
				<div class="indent-4">
					more than <span class="text-red-400">5 years</span> experience
				</div>
				<div><span class="text-yellow-300">&#125;</span></div>
			</div>
		</section>

		<TypewriterHeroSection />
	</main>
</Layout>
