---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
	<div class="absolute left-0 top-12">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="500"
			height="500"
			viewBox="-25 -25 250 250"
		>
			<path
				d="M44.83330956519431 16.593547812712245 C12.9784858475826 20.028607650438534 -0.008917211893562538 108.36386436702256 8.074743810729203 139.36682962262685 C12.94555036045116 158.04765329957067 45.53645950074515 186.10361138290133 63.52531742263315 193.1106735604481 C81.67902964647081 200.1819501727863 131.761542065681 207.9316943093086 141.42637367221852 191.0156885617514 C166.15389389983378 147.7360028598056 94.3915779076762 11.249439845905227 44.83330956519431 16.593547812712245Z"
				stroke="none"
				fill="#248eff"></path>
		</svg>
	</div>

	<div class="absolute bottom-0 right-0">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="1000"
			height="1000"
			viewBox="-25 -25 250 250"
		>
			<defs>
				<linearGradient id="lgrad" x1="0%" y1="0%" x2="100%" y2="100%">
					<stop offset="0%" style="stop-color:#007bff;stop-opacity:1.00"></stop>
					<stop offset="100%" style="stop-color:#9648e5;stop-opacity:1.00"
					></stop>
				</linearGradient>
			</defs>
			<path
				d="M193.78612245119734 65.29894474848041 C184.4854032632368 36.25302253406464 119.86088623025688 -7.61798846523317 90.45062304436462 0.45699723356152333 C49.86114138853977 11.60138862579829 -2.701056044337591 111.38585356363673 13.526850683956681 150.22344519609618 C26.523436849149213 181.32764825512342 111.62360546113102 204.96920407924992 142.15567303563986 190.68020308155593 C172.85857831375077 176.31125007565757 204.12375692188198 97.58312843883998 193.78612245119734 65.29894474848041Z"
				stroke="none"
				fill="url(#lgrad)"></path>
		</svg>
	</div>
	<main
		class="grid h-1/2 w-2/3 grid-cols-4 grid-rows-2 place-content-center gap-2"
	>
		<Card
			id="intro"
			title="Vlastimil Skupien"
			body="Web Developer"
			colSpan={2}
		/>
		<Card id="about" body="About me" colSpan={1} />
		<Card id="cv" body="Download CV" colSpan={1} />
		<Card id="projects" body="Projects" colSpan={1} />
		<Card id="contacts" body="Contact" colSpan={1} />
		<Card
			id="stack"
			colSpan={2}
			title="Vlastimil Skupien"
			body="Stack Technologies Listing"
		/>
	</main>
</Layout>
