---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Vlastimil Skupien - web dev">
	<main class="grid h-full place-items-center">
		<div class="w-1/2">
			<h1 class="mb-4 text-6xl text-green-300">
				//Nothing much <br /> //to see here...
			</h1>
			<p class="text-justify">
				You can definitely checkout my <a
					href="https://github.com/theskupi"
					class="text-yellow-300 underline"
					target="_blank">GitHub</a
				> but I've spent most of my time on private projects, unfortunately. Nevermind,
				don't hesitate to contact me and we can have a chat about what I can do 🤓
			</p>
		</div>
	</main>
</Layout>
