---
import Layout from '../../layouts/Layout.astro'
import Explorer from '../../components/Explorer.astro'
---

<Layout title="Vlastimil Skupien - web dev">
	<main class="flex h-full align-middle">
		<Explorer />
		<section class="text-white">FE Skills</section>
	</main>
</Layout>
