---
import Layout from '../../layouts/Layout.astro'
import Explorer from '../../components/Explorer.astro'
---

<Layout title="Vlastimil Skupien - web dev">
	<main class="h-full">
		<Explorer />
		<section>FE Skills</section>
	</main>
</Layout>
